@import "tailwindcss";
::selection {
  /* Use Tailwind colors for consistency, e.g., 'blue-400' and 'gray-900' */
  background-color: #212121; /* bg-blue-500 equivalent */
  color: #ffffff; /* text-gray-800 equivalent */
}

/* Optional: Add a fallback for older browsers (e.g., Firefox) */
::-moz-selection {
  background-color: #212121;
  color: #ffffff;
}

@theme {
  --color-secondary: #f9cdcd;
  --color-footer-copyright: #5e5e5e;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
